@font-face {
  font-family: 'avenir';
  src: local('avenir'), url(../public/avenir-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'avenir-medium';
  src: local('avenir'), url(../public/avenir-medium.woff2) format('woff2');
}

@font-face {
  font-family: 'avenir-demibold';
  src: local('avenir'), url(../public/avenir-demibold.woff2) format('woff2');
}

@font-face {
  font-family: 'avenir-bold';
  src: local('avenir'), url(../public/avenir-bold.woff2) format('woff2');
}

.ribbon {
  position: absolute;
  z-index: 10;
  background-color: #ff72b6;
  font-family: avenir-demibold;
  text-transform: uppercase;
  color: white;
  padding: 2.5px 2px;
  font-size: 12px;
  margin-top: 8.5px;
}

.ribbon::after {
  content: '';
  position: absolute;
  z-index: 10;
  height: 0;
  top: 0;
  right: -10.5px;
  border-top: 10.7px solid transparent;
  border-bottom: 10.7px solid transparent;
  border-left: 10.7px solid #ff72b6;
}

.ribbon::before {
  content: '';
  position: absolute;
  z-index: 10;
  top: 0;
  left: -4px;
  height: 110%;
  width: 4px;
  background: linear-gradient(
    #ff72b6 0%,
    #ff72b6 90%,
    #ce367f 90%,
    #ce367f 100%
  );
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.property-card {
  width: 544px;
  border-radius: 4px;
  box-shadow: 0px 4px 16px 0px rgba(11, 17, 52, 0.2);
  font-family: avenir;
}

.property-image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 272px;
  overflow: hidden;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 40%;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: radial-gradient(transparent, black);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.image-overlay:hover {
  opacity: 0.4;
  cursor: pointer;
}

.property-content {
  padding: 24px;
  align-items: center;
}

.property-details {
  display: flex;
  flex-direction: column;
  column-gap: 16px;
}

.property-title-container {
  display: flex;
  column-gap: 16px;
}

.property-header {
  display: flex;
  justify-content: space-between;
}

.header-styling {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.property-title {
  color: #1a2258;
  font-family: avenir-demibold;
  font-size: 23px;
  margin: 0;
}

.property-address {
  color: #787d9c;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.property-price {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: right;
  row-gap: 4px;
}

.price-psf {
  color: #1a2258;
  font-family: avenir-demibold;
  font-size: 19px;
  margin: 0;
}

.price-sublabel {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  color: #787d9c;
}

.property-type-container {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 16px;
  column-gap: 2px;
}

.property-type {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.availabilities-label {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-styling {
  color: #216bff;
  font-size: 16px;
  font-family: avenir-demibold;
  border: none;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.1s ease;
}

.button-styling:hover {
  color: #1757d7;
  cursor: pointer;
}

.description-styling {
  padding-top: 12px;
  padding-bottom: 12px;
}
